@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300;400;500&display=swap');

:root {
  --main: #082032;
  --secondary: #2C394B;
  --second-light: #334756;
  --light: #FF4C29;

}

body {


    background-color: #E8E7E7;
    color:#fcc19a;
    text-shadow: 0 0 10px #ff6320;

    font-family: 'Noto Sans Mono', monospace;;
    margin: 0px;

  }

  .main {
    background-image: url("./assets/pexels-milo-textures-2768398.jpg");
  
   
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  

  }

  Navbar {
    color: black;
    text-shadow: none;
    background-color:  #E8E7E7;
  }
  .nav-item {
    color: black;
    padding: 10px;
    text-shadow: none;
  }



  #Hero {
 


    color: white;
    text-align: left;
    min-height: 500px;
  
  

  } 

  .HeroText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    max-width: fit-content;
  }

.glow {
  font-size: 30px;
  font-weight: 300;
  animation: glow 1s ease-in-out infinite alternate;
  margin-top: 50px;
  margin-bottom: 50px;
  
}
@keyframes glow {
  from {
    text-shadow: 0 0 10px #fcc19a, 0 0 20px #fff, 0 0 30px #ff6320, 0 0 40px #ff6320, 0 0 50px #ff6320, 0 0 60px #ff6320, 0 0 70px #ff6320;
  }
  
  to {
    text-shadow: 0 0 20px #fcc19a, 0 0 30px #ffa64d, 0 0 40px #ffa64d, 0 0 50px #ffa64d, 0 0 60px #ffa64d, 0 0 70px #ffa64d, 0 0 80px #ffa64d;
  }
}

.title {
  font-size: 22px;
  color:#fcc19a;
  text-shadow: 0 0 10px #ff6320;
  margin: 18px;

}

.arrow {
  justify-content: center;
}

#About {
  background-color: var(--main);
  margin-bottom: 100px;
}

#Projects {
  background-color: var(--main);
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
}

#Contact {
  background-color: var(--main);
}

#Fun {
  background-color: var(--main);
}